<a href="https://colab.research.google.com/github/SimiMaithani/Simi_INFO5731_Fall2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [6]:
stringSimi = "Hi, my name is Simi Maithani!"
print(len(stringSimi)) # len() returns the length of the string 'StringSimi'

29

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [20]:
# Creating a function called count_char that will hold the algorithm for calculating the number of characters in a string
def count_char(sample_string):   
  # Creating a dictionary for holding the key-value pairs
  dict = {}
  for char in sample_string:
    char_keys = dict.keys()
    if char in char_keys:
      dict[char] = dict[char] + 1
    else:
      dict[char] = 1
  return dict
print(count_char('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [9]:
def list(items):
  sum_items = 0
  for s in items:
    sum_items = sum_items + s
  return sum_items
print(list([1,1,1,3]))

6

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

> Indented block



Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [11]:
def change_occur(sample_string):
  char = sample_string[0]
  sample_string = sample_string.replace(char, '$')  # replacing the occurances with '$'
  sample_string = char + sample_string[1:]          # making sure that the '0th' element does not get replaced

  return sample_string

print(change_occur('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [16]:
def calculate(a,b):
  return 3.14 * (1+a/b) * (1+a/b) * (1+a/b)
calculate (1,1)

25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [19]:
# using the .update() method for concatination
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50,6:60}
dic4 = {}             #creating an empty dictionary so that we can concatinate the given dictionaries into it

for dic in (dic1, dic2, dic3):
  dic4.update(dic)

print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [17]:
mixed_tuple = ("Simi", "Lina", "Emily", "Jane", "John", "5", "6", "7")
print ("Simi" in mixed_tuple)
print ("Joe" in mixed_tuple)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [32]:
# Using the max and min functions to find the maximum and minimum values in a set respectively.

create_set = set()

create_set.add(100)
create_set.add(200)
create_set.add(300)
create_set.add(400)

print(create_set)

print(max(create_set)) # maximum value in the set

print(min(create_set)) # minimum value in the set

{200, 100, 400, 300}
400
100

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [7]:
import random
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420',
               'ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

# starting a for loop for iterations 4-6 random times
print("The different groups are:\n")
for j in range(6):
  n = random.randint(4,6)
  group = random.choices(studnet_list, k=n)
  studnet_list = [j for j in studnet_list if j not in group]
  print(group)

The different groups are:

['ttp0037', 'mv0299', 'pn0159', 'ttp0037', 'yye0005']
['dy0091', 'ss1995', 'ss1995', 'at0739']
['pc0353', 'nm0547', 'vmb0067', 'rrk0058']
['spk0057', 'msp0174', 'ds0761', 'spk0057']
['bk0301', 'py0080', 'py0080', 'hc0439', 'tv0119', 'rak0120']
['rs0850', 'at0768', 'pk0339', 'vl0135', 'at0768', 'at0768']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [19]:
given_array = [1,2,2,3,4,5,20,30,30]

print("Duplicate elements in the given array of integers are:")

for i in range(0, len(given_array)):
  for j in range (i+1, len(given_array)):
    if (given_array[i]==given_array[j]):
      print(given_array[j])

Duplicate elements in the given array of integers are:
2
30

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [15]:
from datetime import date, timedelta
print("All the Sundays of the year 2019 are:\n")
year = 2019
Jan_date = date(year, 1, 1)
Jan_date = Jan_date + timedelta(days = 6-Jan_date.weekday())
while (Jan_date.year == year):
  print (Jan_date)
  Jan_date = Jan_date + timedelta(days = 7)

All the Sundays of the year 2019 are:

2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29